.question-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    black 16%,
    #acfcc7 40%,
    white 50%,
    grey
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
