.question-problem {
  width: 70%;
  height: 14%;
  border: 3px solid black;
  border-radius: 12px;
  background-color: #ffa077;
  box-shadow: 6px 6px 0px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 43%;
}

.question-answer {
  width: 80%;
  height: 45%;
  border: 3px solid black;
  border-radius: 24px;
  margin-bottom: 65px;
  background-color: #f3ebd6;
  box-shadow: 12px 12px 0px black;

  order: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;

  position: relative;
}