.question-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border: 3px solid red;
}

.question-problem {
  width: 700px;
  height: 200px;
  border: 3px solid black;
  border-radius: 12px;
  background-color: #ffa077;
  box-shadow: 6px 6px 0px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 43%;
}

.question-answer {
  background-color: #f3ebd6;
  width: 818px;
  height: 618px;
  border: 3px solid black;
  border-radius: 24px;
  margin-bottom: 65px;
  box-shadow: 12px 12px 0px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.question-button {
  background-color: #62b87f;
  width: 240px;
  height: 80px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 0px 12px 0px black;
  position: relative;
  top: 10%;
}
