.answer-container {
  width: 86%;
  height: 47%;

  margin: auto 184px;
  margin-top: 0;

  background: url("../../assets/box/box_main.png") no-repeat;
  background-size: contain;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.answer-text {
  width: 81%;
  height: 40%;

  background: url("../../assets/box/box_content_results.png") no-repeat;
  background-size: contain;

  position: relative;
  z-index: 1;
  top: -15%;
}
