.image-container {
  width: 100%;
  height: 50%;
}

.background {
  width: 100%;
  height: 75%;
  border: 3px solid pink;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ground {
  width: 100%;
  height: 25%;
  border: 3px solid red;
}
