.question-container {
  width: 82.04%;
  height: 44.66%;
  margin: 0px 92px;
  margin-top: 4px;
  background: url("../../assets/box/box_main.png") center center/contain
    no-repeat transparent;

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.question-problem {
  width: 83.33%;
  height: 40%;
  background: url("../../assets/box/box_content_default.png") center
    center/contain no-repeat transparent;

  position: absolute;
  top: -12.4%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.correct {
  background-image: url("../../assets/box/box_true.png");
}

.wrong {
  background-image: url("../../assets/box/box_false.png");
}

.done {
  background-image: url("../../../src/assets/box/box_content_results.png");
}

.triangle {
  width: 28%;
  height: 18%;
  position: absolute;
  left: 82.5%;
  bottom: 91%;

  background: url("../../assets/box/box_content_default_triangle.png") center
    center/contain no-repeat;
}
