.question-container {
  width: 86%;
  height: 47%;
  margin: auto 184px;
  margin-top: 0;
  background: url("../../assets/box/box_main.png") center center/contain
    no-repeat transparent;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.question-problem {
  width: 81%;
  height: 40%;
  background: url("../../assets/box/box_content_default.png") center
    center/contain no-repeat transparent;

  position: absolute;
  z-index: 1;
  top: -15%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
