.background {
  width: 100vw;
  height: 100vh;

  position: absolute;
  background: url("../../../public/images/background/1-6.png") center
    center/cover;
  z-index: -2;
}
.background1 {
  background: url("../../../public/images/background/1-6.png") center
    center/cover;
}
.background2 {
  background: url("../../../public/images/background/7-12.png") center
    center/cover;
}
.triangle {
  width: 45px;
  height: 52px;

  position: absolute;
  bottom: 721.5px;
  right: 152.3px;

  z-index: 7;
  background: url("../../assets/box/box_content_default_triangle.png") center
    center/contain no-repeat;

  animation: 0.1s linear normal forwards running Triangle-popup;
}

@keyframes Triangle-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question-problem {
  width: 708px;
  height: 208px;
  background: url("../../assets/box/box_content_default.png") center center/auto
    no-repeat transparent;

  border-radius: 12px;
  border: 4px solid black;
  box-shadow: 6px 6px 0px black;

  position: absolute;
  bottom: 530px;
  z-index: 6;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transform-origin: top right;
  animation: 0.1s TextBox linear normal forwards;
}

@keyframes TextBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question-container {
  width: 82.04%;
  height: 44.66%;
  margin: 0px 92px;
  margin-top: 4px;
  background: url("../../assets/box/box_main.png") center center/contain
    no-repeat transparent;

  position: static;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.correct {
  background-image: url("../../assets/box/box_true.png");
}

.wrong {
  background-image: url("../../assets/box/box_false.png");
}

.done {
  background-image: url("../../../src/assets/box/box_content_results.png");
}
