.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  background: url('../../public/images/임시배경.png') center center/cover;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;

  background: linear-gradient(to bottom, black 25.31%, rgba(0, 0, 0, 0));
}
