.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background: url("../../public/images/임시배경.png") center center/cover;
}

/* Test용 임시 버튼(시간 이동으로 제어 예정) */
.temp {
  position: fixed;
  left: 90%;
  bottom: 90%;
  z-index: 10;
}
.temp-button {
  border: 3px solid red;
  background-color: blue;
  width: 30px;
  height: 30px;
}
