.background {
  width: 100vw;
  height: 100vh;
  background: center center/cover no-repeat;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;
  animation: 0.5 backgroundAni cubic-bezier(0, 0, 0, 1) forwards;

  overflow: hidden;
}

@keyframes backgroundAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.particle {
  height: 1200px;
  width: 1025px;

  background: center center/cover no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  z-index: 1;

  animation: 0.5s particleAni 1s cubic-bezier(0, 0, 0, 1) both;
}

@keyframes particleAni {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.expResult {
  width: auto;
  height: auto;
  position: relative;
  z-index: 2;
}

.score-container {
  width: 233px;
  height: 83px;
  background-color: black;
  border-radius: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
}
.score {
  margin: 13px;
  color: white;
  text-align: center;
  font-family: MapleStoryBold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button {
  width: 510px;
  height: 140px;
  background: url("../../src/assets/button/button_again.png") center
    center/contain no-repeat;
  border: none;
  position: relative;
  z-index: 2;
  animation: 0.5s againButton 1.8s cubic-bezier(0, 0, 0, 1) both;
}
@keyframes againButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
