.start-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background: url(""); */
  align-items: center;
  margin: 0px;
  height: 100vh;
  background: white;
}

.start-page__logo {
  /* temp logo changes to img later */
  border: 1px solid black;
  width: 824px;
  height: 200px;
  text-align: center;
}
