.start-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background changes to img later */
  background: transparent;
  position: relative;
  overflow: hidden;
}

.backdrop {
  width: 100vw;
  height: 200vh;
  background-color: black;
  opacity: 1;
  position: fixed;
  z-index: 2;
}

.start-page-logo {
  border: 1px solid black;
  width: 80%;
  height: 15%;
  /* temp logo changes to img later */
  background: transparent;
  position: absolute;
  bottom: 65%;
}
.drag-container {
  width: 903px;
  height: 1399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 92%;
  z-index: 3;
}

.image {
  width: 903px;
  height: 60px;
  background: url("../assets/box/box-drag-arrow.png") center center/contain
    no-repeat;
}

.text {
  width: 903px;
  height: 1299px;
  background: url("../assets/box/box_drag-page.png") center center/contain
    no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.start-link {
  background: url("../assets/button/button-start.png") center center/contain
    no-repeat transparent;
  width: 390px;
  height: 134px;
  position: absolute;
  bottom: 7.4%;
  right: 28.1%;
}

.start-link:active {
  margin-left: 50px;
  margin-top: 50px;
}

.start-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
