.start-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  height: 100vh;
  /* background changes to img later */
  background: transparent;
}

.start-page-logo {
  border: 1px solid black;
  width: 80%;
  height: 15%;
  /* temp logo changes to img later */
  background: transparent;
}

.start-page-button {
  background: url("../assets/button/start-button.png") center center/contain
    no-repeat transparent;
  border: none;
  width: 50%;
  height: 10%;
  cursor: pointer;
}

.start-page-button button {
  border: none;
  background-color: transparent;
}
