.character-container {
  width: 70.514%;
  height: 54.23%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 7.8%;
}

.catch {
  width: 32%;
  height: 90%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.citizen {
  width: 32%;
  height: 90%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  position: relative;

  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0%, -1%);
  }
  50% {
    transform: translate(0%, 6%);
  }
  100% {
    transform: translate(0%, -1%);
  }
}

.kid {
  display: none;
}

.kidOn {
  display: block;
  width: 75%;
  height: 60%;

  position: absolute;
  top: -40%;
  right: 50%;

  z-index: 1;

  background: url("../../assets/kid_02.png") no-repeat;
  background-size: contain;
}
