.character-container {
  width: 70.514%;
  height: 54.23%;

  position: relative;
  bottom: 7.8%;
}
.catch {
  animation: floating 3s ease-in-out infinite;
  position: absolute;
  z-index: 5;
}
.catch12 {
  width: 200px;
  height: 280px;
  left: 5px;
  top: 30px;
}
.catch3 {
  width: 279px;
  height: 310px;

  left: -20px;
}
.catch4 {
  width: 250px;
  height: 340px;
  left: -20px;
}
.catch5 {
  width: 350px;
  height: 385px;
  left: -60px;
  top: -10px;
}
.whiteCatch {
  opacity: 0;
  z-index: 2;
}

.disappearCatch {
  transform-origin: 50% 100%;
  animation: 0.3s disappear 0.5s cubic-bezier(0, 0, 0, 1) forwards;
}
@keyframes disappear {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
    opacity: 1;
  }
}
.disappearWhiteCatch {
  transform-origin: 50% 100%;
  animation: 0.8s disappearWhite cubic-bezier(0, 0, 0, 1) forwards;
}
@keyframes disappearWhite {
  0% {
    opacity: 0;
    scale: 1;
  }
  37.5% {
    opacity: 1;
    scale: 1;
  }
  62.5% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 1;
    scale: 0;
  }
}

.appearCatch {
  transform-origin: 50% 100%;
  animation: 0.8s appear cubic-bezier(0, 0, 0, 1) both;
}

@keyframes appear {
  0% {
    scale: 0;
    opacity: 0;
  }
  37.5% {
    scale: 1;
    opacity: 0;
  }
  62.5% {
    scale: 1;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.appearWhiteCatch {
  transform-origin: 50% 100%;
  animation: 0.8s appearWhite cubic-bezier(0, 0, 0, 1) both;
}

@keyframes appearWhite {
  0% {
    scale: 0;
    opacity: 1;
  }
  37.5% {
    scale: 1;
    opacity: 1;
  }
  62.5% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 0;
  }
}
.citizen {
  width: 32%;
  height: 90%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  position: absolute;
  right: 15px;
  top: 30px;
}

.kidOff {
  display: none;
}

.kidOn {
  display: block;
  width: 75%;
  height: 60%;

  position: absolute;
  top: -40%;
  right: 50%;

  z-index: 1;

  background: url("../../assets/kid_02.png") no-repeat;
  background-size: contain;
}
