.character-container {
  width: 70.514%;
  height: 54.23%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 7.8%;
}
.catch {
  animation: floating 3s ease-in-out infinite;
  position: relative;
}
.catch12 {
  width: 200px;
  height: 280px;
  left: 5px;
}
.catch3 {
  width: 260px;
  height: 310px;

  right: 16px;
}
.catch4 {
  width: 260px;
  height: 360px;
  right: 16px;
}
.catch5 {
  width: 290px;
  height: 380px;
  right: 37px;
}

.citizen {
  width: 32%;
  height: 90%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0%, -1%);
  }
  50% {
    transform: translate(0%, 6%);
  }
  100% {
    transform: translate(0%, -1%);
  }
}

.kidOff {
  display: none;
}

.kidOn {
  display: block;
  width: 75%;
  height: 60%;

  position: absolute;
  top: -40%;
  right: 50%;

  z-index: 1;

  background: url("../../assets/kid_02.png") no-repeat;
  background-size: contain;
}
