.drag-container {
  /* width: 903px; */
  aspect-ratio: 7 / 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 92%;
  z-index: 3;
}

.image {
  width: 100%;
  height: 3%;
  background: url("../../assets/box/box-drag-arrow.png") center center/contain
    no-repeat;
  animation: 1s flash infinite alternate;

  position: relative;
  bottom: 2.5%;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  width: 100%;
  aspect-ratio: 7 / 10;
  /* height: 1299px; */
  background: url("../../assets/box/box_drag-page.png") center center/contain
    no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin: 0px 50px;
}

.start-link {
  background: url("../../assets/button/button-start.png") center center/contain
    no-repeat transparent;
  width: 40%;
  height: 25%;
}

/* .start-link:active {
    height: 120px;
  } */

.start-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.start-button:focus {
  outline: none;
}

.area {
  width: 100%;
  height: 30%;

  position: absolute;
  top: -280px;
}
