.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  position: relative;
  top: 40%;
}

.correct-link {
  padding: 0;
  width: 27.26%;
  height: 24.5%;

  background: url("../../assets/button/buttonA/button_A_default.png") center
    center/contain no-repeat;
  border: none;

  position: relative;
  right: 8%;
  bottom: 60%;
}

.wrong-link {
  padding: 0;
  width: 27.26%;
  height: 24.5%;

  background: url("../../assets/button/buttonB/button_B_default.png") center
    center/contain no-repeat;
  border: none;

  position: relative;
  left: 8%;
  bottom: 60%;
}


.correct-button, .wrong-button{
  border: none;
}