.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  position: relative;
  top: 40%;
}

.link {
  padding: 0;
  width: 28.6%;
  height: 25%;

  border: none;
  position: relative;
  bottom: 60%;
}

.correct-link {
  background: url("../../assets/button/buttonA/button_A_default.png") center
    center/contain no-repeat;

  right: 8%;
}

.wrong-link {
  background: url("../../assets/button/buttonB/button_B_default.png") center
    center/contain no-repeat;

  left: 8%;
}

.correct-button,
.wrong-button {
  border: none;
}

/* Test용 임시 버튼(시간 이동으로 제어 예정) */
.temp {
  position: fixed;
  z-index: 10;
}
.temp-button {
  border: 3px solid red;
  background-color: blue;
  width: 100px;
  height: 100px;
}
