.image-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: relative;
  bottom: 10%;
}
.image1 {
  width: 331px;
  height: 256px;

  /* background-color: white;
  border: 3px solid black;
  border-radius: 12px; */

  background: url("../../assets/box/box_image.png") no-repeat;
  background-size: contain;

  position: relative;
  right: 4.3%;
}

.image2 {
  width: 331px;
  height: 256px;

  /* background-color: white;
  border: 3px solid black;
  border-radius: 12px; */

  background: url("../../assets/box/box_image.png") no-repeat;
  background-size: contain;

  position: relative;
  left: 3.5%;
}
