.image-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  position: relative;
  top: 24%;
}

.image {
  width: 39.41%;
  height: 88.6%;

  background-color: white;
  border: 3px solid black;
  border-radius: 12px;

  position: relative;
  top: 7%;
}

.image1 {
  background: url("../../assets/box/box_image.png") no-repeat;
  background-size: contain;
  right: 2.8%;
}

.image2 {
  background: url("../../assets/box/box_image.png") no-repeat;
  background-size: contain;
  left: 2.8%;
}

.done {
  opacity: 0.5;
}
