.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 40%;
}

.button {
  padding: 0;
  width: 28.6%;
  height: 25%;
  border: none;
  position: relative;
  bottom: 60%;
}

.defaultA-button {
  background: url("../../assets/button/buttonA/button_A_default.png") center
    center/contain no-repeat;
  right: 8%;
}

.defaultB-button {
  background: url("../../assets/button/buttonB/button_B_default.png") center
    center/contain no-repeat;
  left: 8%;
}

/* 정답확인 후 이미지 변경 */
.ACorrect {
  background: url("../../assets/button/buttonA/button_A_true.png") center
    center/contain no-repeat;
  /* pointer-events: none; */
}
.AWrong {
  background: url("../../assets/button/buttonA/button_A_false.png") center
    center/contain no-repeat;
}
.AShade {
  background: url("../../assets/button/buttonA/button_A_inactive.png") center
    center/contain no-repeat;
}

.BCorrect {
  background: url("../../assets/button/buttonB/button_B_true.png") center
    center/contain no-repeat;
}
.BWrong {
  background: url("../../assets/button/buttonB/button_B_false.png") center
    center/contain no-repeat;
}
.BShade {
  background: url("../../assets/button/buttonB/button_B_inactive.png") center
    center/contain no-repeat;
}
.done {
  pointer-events: none;
}
