.number {
  width: 13.4%;
  aspect-ratio: 1 / 1;

  background: url("../../assets/box/box_level.png") no-repeat;
  background-size: contain;

  position: relative;
  left: 5%;
}

.number-text {
  line-height: 112px;
  font-size: 64px;
  font-family: MapleStoryBold;
  color: white;
  text-align: center;

  position: relative;
  top: 50%;
  /* left: 50%; */
  transform: translateY(-50%);
}

.done {
  display: none;
}
