.QuestionNumber {
  width: 15.71%;
  height: 43.63%;

  background: url("../../assets/box/box_level.png") no-repeat;
  background-size: contain;
  color: white;
  text-align: center;
  line-height: 65px;

  position: relative;
  left: 7%;
}

.done {
  display: none;
}
