.image-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  position: relative;
  top: 24%;
}

.image {
  width: 331px;
  height: 256px;

  /* background-color: white; */
  border: 3px solid black;
  border-radius: 12px;

  position: relative;
  top: 7%;
}

.image1 {
  right: 2.8%;
}

.image2 {
  left: 2.8%;
}
