.problem-text {
  width: 80%;
  height: 100%;
  position: relative;
  left: 5%;
  text-align: center;
}

.done {
  left: 12%;
  top: 15%;
  display: none;
}

.answer {
  display: block;
  color: #f3ebd6;
}
