.problem-text {
  position: relative;
  right: 10%;
  text-align: start;

  font-family: MapleStoryBold;
  font-size: 34px;
  letter-spacing: 0px;
  color: transparent;
  color: #f3ebd6;
  -webkit-text-stroke: 4px black;
  text-shadow: 0px 4px 0px black;
}

.done {
  display: none;
}
